/* BackToHome.css */
.back-to-home-button:hover {
  transform: scale(1.05);
}
.back-to-home-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent ;
  cursor: pointer;
  transition: transform 0.3s ease, opacity 0.3s ease;
  background-color: #fdd27cef;
  padding: 0.5%;
  width: fit-content;
  border-radius: 5px;
}
/* .back-to-home-button:hover {
  transform: scale(1.1);
 
} */
.back-to-home-icon {
  margin-right: 8px;
  font-size: 40px;
  background-image: url('../../public/images/house.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80% auto;
  /* Thêm phần dưới đây để chỉnh màu nền */
  background-color: #f0a834c2;
  /* màu nền bạn muốn */
  border-radius: 50%;
  /* hình tròn */
  padding: 5px;
  width: 20px;
  /* chiều rộng của icon */
  height: 20px;
}

.back-to-home-text {
  font-size: 16px;
  font-weight: bold;
  color: black;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}