/* BackToHome.css */
.back-to-home-container {
    display: flex;
    align-items: center;
    background-color: #1A1A1A;
    padding: 10px 20px;
    border-radius: 8px;
    width: fit-content;
    border: 2px solid red;
    z-index: 10;
  }
  
  .back-to-home-button {
    display: flex;
    align-items: center;
    background-color: transparent;
    color: #FF0000;
    border: none;
    font-size: 16px;
    cursor: pointer;
  }
  
  .back-to-home-icon {
    margin-right: 8px;
    font-size: 20px;
    color: #FF0000;
  }
  