.menu-list-container {
  position: relative;
  display: flex;
  align-items: center;
  background-color: #962d3b44;
  border-radius: 10px;
  padding: 16px 40px;
  width: 65vw;
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
}

/* Danh sách menu */
.menu-list {
  display: flex;
  gap: 16px;
  padding: 0 16px;
  white-space: nowrap;
  overflow-x: hidden;
  width: 100%;
  scroll-behavior: smooth;
}

/* Nút cuộn trái/phải */
.scroll-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #c8596860;
  color: white;
  border: none;
  padding: 8px;
  cursor: pointer;
  font-size: 18px;
  border-radius: 5px;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}

.scroll-button.left {
  left: 8px;
}

/* SVG icon bên trong button */
.scroll-button svg {
  width: 16px;
  height: 16px;
  fill: white;
}


.scroll-button.right {
  right: 8px;
}

.scroll-button:hover {
  background-color: #96182944;
}

.filter-menu-item {
  flex: 0 0 calc((100% - 4 * 16px) / 5);
  height: 110px;
}

/* Kiểu dáng cho các mục */
.filter-menu-item button {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #55555588;
  padding: 8px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s;
  width: 100%;
  height: 100%;
}

.filter-menu-item button:hover {
  background-color: #89868683;
  /* Màu khi hover */
}

.filter-menu-item button.bg-blue-400 {
  background-color: #1790927c;
  /* Màu nền khi được chọn (giống hình) */
}

.filter-menu-item img {
  width: 64px;
  height: 64px;
  object-fit: cover;
  margin-bottom: 8px;
  border-radius: 8px;
  /* Bo góc hình ảnh */
}

.filter-menu-item p {
  font-size: 14px;
  margin: 0;
  color: white;
}