/* MenuItem.css */

.menu-item {
    background-color: #ffffff;
    padding: 16px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    min-height: 250px;
  }
  
  .menu-item img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-bottom: 8px;
    border : 1px solid #ccc;
    border-radius: 10%;
  }
  
  .menu-item-name {
    color: #ff9966;
    font-size: 18px;
    margin: 0 0 4px 0;
    text-align: center;
  }
  
  .menu-item-price {
    color: #a0a0a0;
    font-size: 16px;
    margin: 0 0 8px 0;
  }
  
  .menu-item-button {
    background-color: #ff9966;
    color: #ffffff;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    position: absolute;
    bottom: 16px;
    /* right: 16px; */
    transition: background-color 0.2s ease;
    display: 'flex'; 
    justify-Content: 'center'; 
    align-Items: 'center' ;
  }
  
  .menu-item-button:hover {
    background-color: #ff9966;
  }
  