.menu-page {
    background-color: #cecece;
    min-height: 100vh;
    padding: 16px;
    border-radius: 1%;
  }
  
  .menu-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
  }
  