.payment-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  background-color: #f0bb75; /* thêm màu nền cho dễ nhìn nếu cần */
}

.back-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px; 
  height: 30px;
  text-decoration: none;
  cursor: pointer;
  color: white; 
  font-size: 18px;
  transition: fill 0.3s, transform 0.3s;
  font-weight: bold;
}

.back-btn:hover {
  transform: scale(1.1);
}

.back-icon {
  width: 16px;
  height: 16px;
  fill: white; 
}

.back-btn:hover .back-icon {
  transform: scale(1.1);
}

.back-text {
  color: inherit; 
  font-size: inherit;
}


.payment-header h1 {
  font-size: 26px;
  font-weight: bold;
  color: #fff;
  margin: 0;
  flex-grow: 1;
  text-align: center;
  letter-spacing: 4px; 
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}


.payment-header nav {
  color:white;
  display: flex;
  align-items: center;
  gap: 4px;
}

.payment-header nav a {
  color:white;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;

}

.payment-header nav a:hover {
  text-decoration: underline;
}

.payment-header nav span {
  font-size: 16px;
}
