.your-cart {
  background-color: #ffffff;
  color: black;
  padding: 16px;
  border-radius: 8px;
  border: solid 1px #ccc;
  max-height: 800px;
  min-width: 400px;
  overflow-y: auto; /* Thêm thanh cuộn dọc khi nội dung vượt quá */
}

.your-cart-items {
  overflow-y: auto;
  overflow-x: auto;
  max-height: 60vh;
  border-radius: 8px;
}
.your-cart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.cart-item {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  background-color: #ccc;
  padding: 10px;
  border-radius: 8px;
}

.cart-item-image {
  width: 100px;
  height: 100px;
  margin-right: 12px;
  border-radius: 8px;
  object-fit: cover;
}

.cart-item-details {
  flex: 1;
}
.cart-item-details p{
  margin: 10px 0;
}
.cart-item-name {
  font-weight: bold;
}

.cart-item-quantity {
  display: flex;
  align-items: center;
  gap: 8px;
}
.cart-item-quantity span {
  width: 15px;
  height: 20px;
  text-align: center;
  justify-content: center;
}
.cart-total {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
  font-weight: bold;
}
.quantity-button {
  background-color: #ff9966;
  border: none;
  color: white;
  padding: 4px 8px;
  border-radius: 4px;
  cursor: pointer;
  width: 25px;
  height: 25px;
  text-align: center;
}

.checkout-button {
  width: 40%;
  padding: 12px;
  background-color: #ff9966;
  color: white;
  font-size: 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
